@model IEnumerable<FarmaceutskaKuca.Models.incident>

@{
    ViewBag.Title = "Incidenti IM";
}

<h2>Incidenti</h2>

<p>
    <!--(at)Html.ActionLink("Kreiraj novi", "CreateIM")  zasad menadzer ne moze kreirati incident -->
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Vrijeme prijave") <!-- DisplayNameFor(model => model.vrijemePrijave) -->
        </th>
        <th>
            @Html.DisplayName("Naziv") <!-- DisplayNameFor(model => model.naziv) -->
        </th>
        <th>
            @Html.DisplayName("Opis")  <!-- DisplayNameFor(model => model.opis) -->
        </th>
        <th>
            @Html.DisplayName("Prioritet") <!-- DisplayNameFor(model => model.prioritet) -->
        </th>
        <th>
            @Html.DisplayName("Status") <!-- DisplayNameFor(model => model.status) -->
        </th>
        <th>
            @Html.DisplayName("Kategorija") <!-- DisplayNameFor(model => model.kategorija.naziv) -->
        </th>
        <th>
            @Html.DisplayName("Prijavio korisnik") <!-- DisplayNameFor(model => model.korisnik.username) -->
        </th>
        <th>
            @Html.DisplayName("Napomena") <!-- DisplayNameFor(model => model.korisnik.username) -->
        </th>
        <th>
            @Html.DisplayName("Korisnik potvrdio") <!-- DisplayNameFor(model => model.korisnik.username) -->
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.vrijemePrijave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.opis)
            </td>

            @if (item.prioritet == "Visok")
            {
                <td class="label-danger">
                    @Html.DisplayFor(modelItem => item.prioritet)
                </td>
            }
            @if (item.prioritet == "Srednji")
            {
                <td class="label-warning">
                    @Html.DisplayFor(modelItem => item.prioritet)
                </td>
            }
            @if (item.prioritet == "Nizak")
            {
                <td class="label-success">
                    @Html.DisplayFor(modelItem => item.prioritet)
                </td>
            }
            @if (item.prioritet == "" || item.prioritet == null)
            {
                <td class="label-default">
                    @Html.DisplayFor(modelItem => item.prioritet)
                </td>
            }
            
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kategorija.naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.korisnik.username)
            </td>
            <td>
                @if (item.Napomena_K != "Prihvaceno")
                {
                    @Html.DisplayFor(modelItem => item.Napomena_M)
                }
                @if (item.Napomena_K == "Prihvaceno")
                {
                    @Html.DisplayName("/")
                }
            </td>
            <td>
                @if (item.Napomena_K == "Prihvaceno")
                {
                    @Html.DisplayName("Da")
                }
                @if (item.Napomena_K == "Odbijeno")
                {
                    @Html.DisplayName("Ne")
                }
                <!--()Html.DisplayFor(modelItem => item.Napomena_K)-->
            </td>
            <td>
                @Html.ActionLink("Uredi", "Edit", new { id=item.id }) |
                @Html.ActionLink("Detalji", "DetailsIM", new { id = item.id }) |
                @Html.ActionLink("Izbriši", "Delete", new { id=item.id })
            </td>
        </tr>
    }

</table>
