@model IEnumerable<FarmaceutskaKuca.Models.edukacija>

@{
    ViewBag.Title = "Edukacije";
}

<h2>Edukacije</h2>
<p>
   
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Naziv")
        </th>
        <th>
            @Html.DisplayName("Opis")
        </th>
        <th>
            @Html.DisplayName("Kategorija")
        </th>
        <th>
            @Html.DisplayName("Trajanje")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kategorija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trajanje)
            </td>
            <td>
                @Html.ActionLink("Detalji", "Details", new { id = item.id }) |
                @Html.ActionLink("Prijavi se", "CreateK", "KorisnikXXEdukacija")
                <!--()Html.ActionLink("Prijavi se", "Prijava", new { id = item.id }) -->
            </td>
        </tr>
    }

</table>
