@model FarmaceutskaKuca.Models.servis

@{
    ViewBag.Title = "Details";
}

<h2>Detalji</h2>

<div>
    <h4>Servis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Naziv: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.naziv)
        </dd>

        <dt>
            @Html.DisplayName("RTO/RPO: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RTO_RPO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Uredi", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Nazad", "Index")
</p>
