@model FarmaceutskaKuca.Models.plan

@{
    ViewBag.Title = "Create";
}

<h2>Kreiraj</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Plan oporavka</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.id_sxr, "Servis i rizik", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_sxr", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_sxr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.preventivne_strategije, "Preventivne strategije", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.preventivne_strategije, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.preventivne_strategije, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.strategije_odgovora, "Strategije odgovora", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.strategije_odgovora, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.strategije_odgovora, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.strategije_oporavka, "Strategije oporavka", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.strategije_oporavka, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.strategije_oporavka, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.testiran, "Testiran", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.testiran, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.testiran, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.napomena_k, "Napomena", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.napomena_k, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.napomena_k, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.napomena_m, "Odobreno", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.napomena_m, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.napomena_m, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kreiraj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Nazad", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
